.DS_Store
._*
.fseventsd


suport/Vue\.js - Construingo Single Page Applications/Parte 01/

suport/Vue\.js - Construingo Single Page Applications/Parte 02/

suport/VideoAulas/API_NODE_ALURAPIC_VUE/

suport/VideoAulas/Vue\.js parte 1 - Construindo Single Page Applications/

suport/VideoAulas/Vue\.js parte 2 - Construindo Single Page Applications/
